.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    .formulario {
        max-width: 300px;
    }
    .roles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        .rolUnselected {
            cursor: pointer;
            padding: 10px;
            border: 1px solid black;
            width: 45%;
            text-align: center;
            border-radius: 10px;
        }
        .rolSelected {
            background-color: gray;
        }
    }
    span {
        margin-top: 25px;
    }
    .buttonSubmit {
        text-align: center;
        margin-top: 25px;
    }
}
