.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    .formulario {
        max-width: 300px;
    }
    span {
        margin-top: 25px;
    }
    .buttonSubmit {
        text-align: center;
        margin-top: 25px;
    }
}